@import url('https://fonts.googleapis.com/css2?family=Itim&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@400;500;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.main {
    background-image: url("assests/image/background.jpg");
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: max("1300px , 85vw");
    position: relative;
    max-width: 97vw;
}

.main .box {
    height: 85vh;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
}

nav {
    height: 2.5em;
    display: flex;
    align-items: center;
    margin: auto;
    width: 85vw;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    background-color: rgb(22, 20, 20, 0.8);
}

nav img {
    z-index: 10;
    position: relative;
    width: 144px;
    z-index: 2;
}

nav button {
    z-index: 10;
    position: relative;
    width: 8em;
    height: 3em;
}
body{
    background-color: black;
}

.info {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 152px 0px;
    padding: 13px;
    gap: 10px;
    z-index: 1;
    position: relative;
}

.info>:first-child {
    font-size: 3em;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 900;
}

.info>:nth-child(2) {
    font-size: 1.3em;
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
}

.info>:nth-child(3) {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
}

.info button {
    font-weight: 500;
    font-family: 'Martel Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 6px 1.5rem;
}

.info input {
    width: 299px;
    padding: 0.5rem 1rem 0.5rem;
    min-height: 36px;
    background-color: rgba(36, 34, 34, 0.76);
    border-radius: 7px;
    color: white;
    font-size: 1.1em;
}

.buttonred {
    color: white;
    background-color: red;
    border-radius: 7px;
cursor: pointer;
font-weight: 500;
}
.buttonblack{
    color: white;
    background-color: black;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 400;

}
.info input::placeholder{
    color: white;
    font-size: 0.7em;
}
.seperate{
    background-color:rgb(35, 35, 35);
    height: 10px;
    width:auto;
}
 .enjoy1{
display: flex;
color: white;
align-items: center;
justify-content: center;
font-family: 'Martel Sans', sans-serif;
margin: auto;
align-content: center;
max-width: 70vw;
font-family: 'Poppins', sans-serif;

}
 .enjoy1 > div :nth-child(2) {
    font-size: 1.2em;
    font-weight: 400;
}
.enjoy1 > div :first-child {
    font-size: 2em;
    font-weight: 900; 

} 
.simg{
    position: relative;
}
.enjoy1 img {
    width: 605px;
    position: relative;
    z-index: 10;
    top: 0;
}
.enjoy1 video{
position: absolute;
position: absolute;
top: 87px;
right: 46px;
} 
.enjoy2{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Martel Sans', sans-serif;
    margin: auto;
    align-content: center;
    max-width: 70vw;
    font-family: 'Poppins', sans-serif;
    }
.enjoy2 img {
    width: 605px;
    position: relative;
    z-index: 10;
    top: 0;
}
.enjoy2 video{
position: absolute;
top: 34px;
right: 109px;
width: 393px;
} 
.box{
 height: 1.8em;
     width: 75vw; 
    margin: 5px auto;
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 10px;
    justify-content: space-between;
}
.faq{
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.faq :first-child{
    font-size: 3em;
    font-weight: 900;
}
.mores{
color: white;
font-size: 2em;
text-align: center;
margin: 2.5em 0px 0px auto;
}
.more input::placeholder{
    color: white;
    font-size: 1.1em;
}
.more input{
    width: 299px;
    padding: 0.5rem 1rem 0.5rem;
    min-height: 36px;
    background-color: rgba(36, 34, 34, 0.76);
    border-radius: 7px;
    color: white;
    font-size: 1.1em;
}
.more button{
    font-family: 'Martel Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 6px 1.5rem;
}
.more{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin: 2.5em 0 2em auto;
}
.foot{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr ;
   justify-items: center;
   font-size: 0.9em;
   gap: 10px;
   margin: 0px 10px;
}
.foot a{
    color: rgb(167, 175, 167);
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
}
.foot ul li{
    padding: 5px auto;
}
.footbutton{
    text-align: left;
    padding: 10px;
    font-weight: 400;
}
.ques{
    color:rgb(167, 175, 167) ;
    text-align: left;
    margin: 20px 0px;
}
@media screen and (max-width: 700px) {
*{
    font-size: 12px;
}

@media screen and (max-width:500px){
    *{
        font-size: 10px;
    }
}
